<div class="jumbo">
  <div class="left fastfire"></div>
  <h2>About FastFire</h2>
  <p>
    We are an independent life safety company dedicated to bringing you the best quality service possible for your fire alarm needs, including fire alarm system inspections, repairs, tenant finish and system replacement.<br>Our technicians are factory trained with over 50 years combined experience in the Fire Alarm and low voltage field.  We look forward to helping you with your life safety and building security needs.
  </p>
  {{!-- /.left fastfire --}}
</div>
{{!-- /.jumbo --}}