<div class="jumbo">
  <div class="left fastfire"></div>
  <h2>Contact Us</h2>
  <p>
    FastFire would love to help you<br>
    build a custom fire alarm system<br>
    for your building.<br>
  </p>
  {{!-- /.left fastfire --}}
  <address>
    <strong>FastFire</strong><br>
   7348 S Alton Way, Suite 9K<br>
    Centennial, CO 80112<br>
    <a href="tel:720.480.4647">+1 (720) 480-4647</a><br>
    <a href="mailto:superrentalsrep@emberjs.com">superrentalsrep@emberjs.com</a>
  </address>
</div>
{{!-- /.jumbo --}}