<div class="jumbo">
  <div class="left fastfire"></div>
  <h2>Welcome to FastFire!</h2>
  <p>FastFire is a simple, fast, and secure way to share files with your friends.</p>
  {{!-- /.right --}}
</div>
{{!-- /.jumbo --}}